<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remove User</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
</head>


<body>

    <div class="login">
        <h2>Add Offer</h2><br>
        <form id="login"  method="POST">
            <label>Offer ID</label>
            <input type="varchar" name="offer" id="email" class="Uname" placeholder="Offer Id">
            <br><br>
            <label>Offer detail</label>
            <input type="varchar" name="offer detail" id="cnpassword" class="Uname" placeholder="Offer Details">
            <br><br><br>
            
            <input type="submit" id="logb" value="Add">
            <a id="loga" href="/dashboard">Cancel</a>
        </form>
    </div>
</body>

</html>