<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="./css/login.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
</head>


<body>
   
    <div class="login">
        <img id="logo" src="./images/logomatrimony.webp" alt="logo">
        <h2>Login Page</h2><br>
        <% if (msg != '') { %>
            <div class="alert alert-danger"><%= msg %></div>
        <% } %>
        
        <form id="login" method="post" action="/">
            <label>Email ID</label>
            <input type="email" name="email" id="email" class="Uname" placeholder="Enter Email Id">
            <br><br>
            <label>Password</label>
            <input type="password" name="password" id="password" class="Uname" placeholder="Enter Password">
            <br><br>
            <input type="checkbox" id="check">
            <span>Remember me</span> <a href="#" style="color: white;"> ForgotPassword?</a> <br><br>
            <input type="submit" id="log" value="Login">
        </form>
        <script src="/js/login.js"></script>
    </div>
</body>

</html>