<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <a href="/">Login</a>
    <h1>SignUp</h1>
    <form action="/users" method="POST">
        <input type="text" name="name" id="name" placeholder="Enter Name">
        <input type="email" name="email" id="email" placeholder="Enter Email Id">
        <input type="password" name="password" id="password" placeholder="Enter Password">
        <input type="submit" value="Submit">
    </form>
</body>
</html>